# vim
*.swp

# amdis + cmake stuff 
**CMakeFiles/
*CMakeCache.txt
**output/
*Makefile
*.cmake
*.csv

# latex stuff
*.aux
*.lof
*.log
*.toc
*.DS_Store*
*.blg
*.out
*.bbl
*.tex.backup
*.nav
*.snm
*.brf
*.backup
*.synctex.gz
*.vrb
*.synctex
