## no exes and bibs
#**
#!**.*
#*.so

# vim
*.swp

# amdis + cmake stuff 
**CMakeFiles/
*CMakeCache.txt
**output/
**macro/
**output.save/
*Makefile
*.cmake
*.csv

# latex stuff
*.aux
*.lof
*.log
*.toc
*.DS_Store*
*.blg
*.out
*.bbl
*.tex.backup
*.nav
*.snm
*.brf
*.backup
*.synctex.gz
*.vrb
*.synctex

#C4D
**/backup

#others
*.tar
*.tar.gz
*.tar.bz

